@import 'tailwindcss';

@theme {
  --color-primary: var(--color-blue-500);
  --color-primary-hover: var(--color-blue-400);
  --color-primary-disabled: var(--color-blue-900);
  --color-primary-disabled-foreground: var(--color-blue-400);
  --color-primary-foreground: var(--color-blue-50);

  --color-secondary: var(--color-slate-900);
  --color-secondary-foreground: var(--color-slate-50);
  --color-secondary-hover: var(--color-slate-800);

  --color-background: var(--color-slate-950);
  --color-background-hover: var(--color-slate-900);

  --color-popover: var(--color-slate-900);
  --color-popover-foreground: var(--color-slate-500);

  --color-muted: var(--color-slate-900);
  --color-muted-foreground: var(--color-slate-500);

  --color-border: var(--color-slate-800);
  --color-error: var(--color-red-500);
  --color-error-hover: var(--color-red-400);
  --color-success: var(--color-green-500);
  --color-success-hover: var(--color-green-400);

  --h: calc(100vh / 1px);
  --w: calc(100vw / 1px);

  --shadow-tooltip:
    oklab(0.570564 1.70243e-7 -8.05213e-8 / 0.379) 0px 0px 0px 1px,
    color(display-p3 0 0 0 / 0.2) 0px 12px 60px 0px,
    color(display-p3 0 0 0 / 0.4) 0px 16px 64px 0px,
    color(display-p3 0 0 0 / 0.9) 0px 16px 36px -20px;
}

#root {
  height: 100vh;
  width: 100vw;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
