@import 'tailwindcss';

@theme {
  --color-primary: var(--color-blue-500);
  --color-primary-hover: var(--color-blue-400);
  --color-primary-disabled: var(--color-blue-900);
  --color-primary-disabled-foreground: var(--color-blue-400);
  --color-primary-foreground: var(--color-blue-50);

  --color-secondary: var(--color-slate-900);
  --color-secondary-foreground: var(--color-slate-50);
  --color-secondary-hover: var(--color-slate-800);

  --color-background: var(--color-slate-950);
  --color-background-hover: var(--color-slate-900);

  --color-popover: var(--color-slate-900);
  --color-popover-foreground: var(--color-slate-500);

  --color-muted: var(--color-slate-900);
  --color-muted-foreground: var(--color-slate-500);

  --color-border: var(--color-slate-800);
  --color-error: var(--color-red-500);
  --color-error-hover: var(--color-red-400);
  --color-success: var(--color-green-500);
  --color-success-hover: var(--color-green-400);

  --h: calc(100vh / 1px);
  --w: calc(100vw / 1px);

  --shadow-tooltip:
    oklab(0.570564 1.70243e-7 -8.05213e-8 / 0.379) 0px 0px 0px 1px,
    color(display-p3 0 0 0 / 0.2) 0px 12px 60px 0px,
    color(display-p3 0 0 0 / 0.4) 0px 16px 64px 0px,
    color(display-p3 0 0 0 / 0.9) 0px 16px 36px -20px;

  --animate-overlayShow: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-contentShow: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  --animate-slideDownAndFade: slideDownAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideLeftAndFade: slideLeftAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideUpAndFade: slideUpAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideRightAndFade: slideRightAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

#root {
  height: 100vh;
  width: 100vw;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
,
@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
,
@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
,
@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
